<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no" />
    <title>Tuhin Subhra Hazra</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <meta name="google-site-verification" content="UN9nv7Z7SE6_zUi6dkpxXYGTtxwWF22gFTgdG6h45EM" />
    <meta name="msvalidate.01" content="31753B5C3225F8248584A968A931585C" />
</head>

<body>
    <section id="home">
        <div class="sidePannel">
            <button id="x"><img src="/images/x.png" alt=""> </button>
            <div class="menu">
                <a href="#home" >HOME</a><br>
                <br>
                <a href="#about" >ABOUT ME</a><br>
                <br>
                <a href="#skills" >SKILLS</a><br>
                <br>
                <a href="#projects" >PROJECTS</a><br>
                <br>
                <a href="#contact" >CONTACT ME</a>
            </div>
        </div>

        <div class="bac">
            <div style="padding-top:1px"></div>
            <div class="ThreeListContainer">
                <button id="line3"><img class="Threeline" src="./images/3line.png" alt=""></button>
            </div>

            <div class="navbar">
                <a href="#home" style="color: rgb(255, 255, 255);">HOME |</a>
                <a href="#about">ABOUT ME |</a>
                <a href="#skills">SKILLS |</a>
                <a href="#projects">PROJECTS |</a>
                <a href="#contact">CONTACT ME |</a>
            </div>
            <div class="heading">
                <h1>Hello,
                    <div class="wrapper">
                        <p>I'am<span class="dynamic-texts" id="text"></span></p>
                    </div>
                </h1>
            </div>
            <div class="home-button">
                <table>
                    <tr>
                        <td>
                            <a href="https://github.com/tuhinsubhrahazra">
                                <img src="/images/github.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="https://www.linkedin.com/in/tuhin-subhra-hazra-79831a1b8/">
                                <img src="/images/linkdin.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="mailto:codertuhin094@gmail.com">
                                <img src="/images/gmail.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="https://leetcode.com/codertuhin094/">
                                <img src="/images/leetcode.png" alt="">
                            </a>
                        </td>
                        <td>
                            <a href="/resume">
                                <img src="/images/resume.png" alt="">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </section>

    <section id="about">
        <h1 class="about-heading">About me</h1>
        <hr class="about_underLine">
        </hr>
        
        <div class="about-mid">
            <div class="about-right_sec">
                <h1 class="animate">
                    Student at College Of
                    <br>
                    Engineering And <br> Management, Kolaghat
                </h1>

                <div class="animate-1">
                    <img class="pic" src="/images/pic.jpg" alt="">
                </div>

                <p class="animate1 abt">
                    Hi, I am Tuhin Subhra Hazra. I am from Bagnan, Howrah,<br>
                    West Bengal. I am currently doing Information Technology  <br>
                    at the College Of Engineering And Management, Kolaghat <br>
                    I am very much interested in coding and Technology. <br>
                    I love to solve data structure and algorithm problems. <br>
                    I also love to develop software and website. <br>
                </p>

                <table class="animate2">
                    <tr>
                        <td>
                            <p class="tp">Name : </p>
                        </td>
                        <td>
                            <p class="rep">Tuhin Subhra Hazra</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tp">Date of birth : </p>
                        </td>
                        <td>
                            <p class="rep">September 26, 2001</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tp">Address : </p>
                        </td>
                        <td>
                            <p class="rep">Bagnan, Howrah, West Bengal</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="tp">Email : </p>
                        </td>
                        <td>
                            <p class="rep">codertuhin094@<br class="brr">gmail.com</p>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="animate3">
                <img class="pic" src="/images/pic.jpg" alt="">
            </div>
        </div>
    </section>


    <section id="skills">
        <br>
        <h1 class="skil-heading">Skills</h1>
        <hr class="skill_underLine">
        <br>
        <div style="margin: auto; width: fit-content;">
            <div class="parent skill-container">
                <img class="sBtn1" src="/images/logo_c.png" alt="">
                <img class="sBtn2" src="/images/logo_c++.png" alt="">
                <img class="sBtn3" src="/images/logo_java.png" alt="">
                <img class="sBtn4" src="/images/logo_python.png" alt="">
                <img class="sBtn5" src="/images/logo_html.png" alt="">
                <img class="sBtn6" src="/images/logo_css.png" alt="">
                <img class="sBtn7" src="/images/logo_js.png" alt="">
                <img class="sBtn16" src="/images/Bootstrap_logo.png" alt="">
                <img class="sBtn8" src="/images/logo_node.png" alt="">
                <img class="sBtn14" src="/images/expressjs.png" alt="">
                <img class="sBtn15" src="/images/reactjs.png" alt="">
                <img class="sBtn9" src="/images/logo_sql.png" alt="">
                <img class="sBtn10" src="/images/logo_mongodb.png" alt="">
                <img class="sBtn11" src="/images/Android.png" alt="">
                <img class="sBtn17" src="/images/restapi.png" alt="">
                <img class="sBtn12" src="/images/logo_git.png" alt="">
                <img class="sBtn13" src="/images/logo_github.png" alt="">
                <img class="sBtn18" src="/images/firebase.jpg" alt="">
            </div>
        </div>

    </section>

    <section id="projects">
        <h1 class="project-heading">Projects</h1>
        <hr class="project_underLine">
        <br>
        <div>
            <div class="project-btns" style="display: flex; margin: auto; width: fit-content;">
                <button id="all">All</button>
                <button id="android">Android Development</button>
                <button id="web">Web Development</button>
            </div>
            <br>
            <br>

            <!-- Android Applications -->

            <div class="containers">
                <div id="android-container" class="parent" style="justify-content: center;">
                    <div style="width: 10px;"></div>

                    <div id="prcn15">
                        <div class="project-container">
                            <img src="https://fanfield-pvt-ltd.github.io/fanfield_download/assets/img/logo.png"
                                alt="">
                            <h3>Fanfield - Social media platform</h3>
                            <p id="fanfieldDesp">I develop a social media <span style="font-weight: bold;">android application</span> with 3 another group members.</p>
                            <a href="https://fanfield-pvt-ltd.github.io/fanfield_download">View Project</a>
                        </div>
                    </div>

                    <div id="prcn14">
                        <div class="project-container">
                            <img src="https://play-lh.googleusercontent.com/ukMttHbdOZ3ni9AHVNwpjSS5myWwPtszOygYNDPailSMgS2Tf0BA520wK9Sy28njlAPx=w240-h480"
                                alt="">
                            <h3>Bolt Resume</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> resume builder application with XML and Java</p>
                            <a href="https://play.google.com/store/apps/details?id=com.tuhin.boltresume">View Project</a>
                        </div>
                    </div>

                    <div id="prcn1">
                        <div class="project-container">
                            <img src="https://lh3.googleusercontent.com/ZUowcOTciP4PS0nzLs3mccJaWPu1VVNg_Db9oWNkCE77plIQPX30jASfCii8pwB7wNs"
                                alt="">
                            <h3>Audago Music</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> music player application with XML
                                and Java</p>
                            <a href="https://play.google.com/store/apps/details?id=com.tuhin.audagomusic">View Project</a>
                        </div>
                    </div>


                    <div style="width: 10px;"></div>

                    <div id="prcn2">
                        <div class="project-container">
                            <img src="https://github.com/tuhinsubhrahazra/Playerify-Video-Player-/raw/main/icon.png" alt="">
                            <h3>Playerify Video player</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> Video player application with XML
                                and Java</p>
                            <a href="https://play.google.com/store/apps/details?id=com.tuhin.audagomusic">View Project</a>
                        </div>
                    </div>


                    <div style="width: 10px;"></div>

                    <div id="prcn3">
                        <div class="project-container">
                            <img src="https://github.com/tuhinsubhrahazra/Newsus/raw/main/ScreenShots/NewsusIcon.png"
                                alt="">
                            <h3>Newsus</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> News application with XML, Java
                                and API</p>
                            <a href="https://github.com/tuhinsubhrahazra/Newsus">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>

                    <div id="prcn4">
                        <div class="project-container">
                            <img src="https://lh3.googleusercontent.com/_K09VHHYBs3dxy9AvPUslr8EwqJ5GEn-RNAOXVGgT6zu2Olufyt7F-YxUD9IC_vJ0IE"
                                alt="">
                            <h3>Tic Tac Toe</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> Game with XML and Java</p>
                            <a href="https://play.google.com/store/apps/details?id=com.tuhin.newtictactoe">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>
                </div>

                <!-- Web application -->

                <div id="web-container" style="display: flex; justify-content: center;" class="parent">

                    <div id="prcn5">
                        <div class="project-container" >
                            <img src="/images/list.webp" alt="">
                            <h3>Todo List Web application</h3>
                            <p>I develop a todo list <span style="font-weight: bold;">web application</span> frontend with
                                HTML, CSS
                                and JavaScript and backend with Node.js with Express.js framework and database MongoDB</p>
                            <a href="https://mytodo-todolist.cyclic.app">View Project</a>
                        </div>
                    </div>

                    <div style="width: 20px;"></div>

                    <div id="prcn6">
                        <div class="project-container">
                            <img src="/images/logo_medicine.png" alt="">
                            <h3>Medicine Shop Management System Web application</h3>
                            <p>I develop a Medicine Shop Management System <span style="font-weight: bold;">web
                                    application</span>
                                frontend with HTML, CSS and JavaScript and backend with Node.js with Express.js framework
                                and database MongoDB</p>
                            <a href="/dfd-medicine">View DFD diagram</a>
                            <br>
                            <br>
                            <a href="https://medicine-shop-management-system.onrender.com">View Project</a>
                        </div>
                    </div>
                </div>

                <!-- All -->
                <div id="all-container" class="parent" style="justify-content: center;">

                    <div style="width: 10px;"></div>

                    <div id="prcn16">
                        <div class="project-container">
                            <img src="https://fanfield-pvt-ltd.github.io/fanfield_download/assets/img/logo.png"
                                alt="">
                            <h3>Fanfield - Social media platform</h3>
                            <p id="fanfieldDesp">I develop a social media <span style="font-weight: bold;">android application</span> with 3 another group members.</p>
                            <a href="https://fanfield-pvt-ltd.github.io/fanfield_download">View Project</a>
                        </div>
                    </div>

                    <div id="prcn13">
                        <div class="project-container">
                            <img src="https://play-lh.googleusercontent.com/ukMttHbdOZ3ni9AHVNwpjSS5myWwPtszOygYNDPailSMgS2Tf0BA520wK9Sy28njlAPx=w240-h480"
                                alt="">
                            <h3>Bolt Resume</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> resume builder application with XML and Java</p>
                            <a href="https://play.google.com/store/apps/details?id=com.tuhin.boltresume">View Project</a>
                        </div>
                    </div>

                    <div id="prcn7">
                        <div class="project-container">
                            <img src="https://lh3.googleusercontent.com/ZUowcOTciP4PS0nzLs3mccJaWPu1VVNg_Db9oWNkCE77plIQPX30jASfCii8pwB7wNs"
                                alt="">
                            <h3>Audago Music</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> music player application with XML
                                and Java</p>
                            <a href="https://play.google.com/store/apps/details?id=com.tuhin.audagomusic">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>

                    <div id="prcn8">
                        <div class="project-container">
                            <img src="https://github.com/tuhinsubhrahazra/Playerify-Video-Player-/raw/main/icon.png" alt="">
                            <h3>Playerify Video player</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> Video player application with XML
                                and Java</p>
                            <a href="https://github.com/tuhinsubhrahazra/Playerify-Video-Player-">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>

                    <div id="prcn9">
                        <div class="project-container">
                            <img src="https://github.com/tuhinsubhrahazra/Newsus/raw/main/ScreenShots/NewsusIcon.png"
                                alt="">
                            <h3>Newsus</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> News application with XML, Java
                                and API</p>
                            <a href="https://github.com/tuhinsubhrahazra/Newsus">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>

                    <div id="prcn10">
                        <div class="project-container">
                            <img src="https://lh3.googleusercontent.com/_K09VHHYBs3dxy9AvPUslr8EwqJ5GEn-RNAOXVGgT6zu2Olufyt7F-YxUD9IC_vJ0IE"
                                alt="">
                            <h3>Tic Tac Toe</h3>
                            <p>I develop a <span style="font-weight: bold;">android</span> Game with XML and Java</p>
                            <a href="https://play.google.com/store/apps/details?id=com.tuhin.newtictactoe">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>

                    <div id="prcn11">
                        <div class="project-container">
                            <img src="/images/list.webp" alt="">
                            <h3>Todo List Web application</h3>
                            <p>I develop a todo list <span style="font-weight: bold;">web application</span> frontend with
                                HTML, CSS
                                and JavaScript and backend with Node.js with Express.js framework and database MongoDB</p>
                            <a href="https://mytodo-todolist.cyclic.app">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>

                    <div id="prcn12">
                        <div class="project-container">
                            <img src="/images/logo_medicine.png" alt="">
                            <h3>Medicine Shop Management System Web application</h3>
                            <p>I develop a Medicine Shop Management System <span style="font-weight: bold;">web
                                    application</span>
                                frontend with HTML, CSS and JavaScript and backend with Node.js with Express.js framework
                                and database MongoDB</p>
                            <a href="/dfd-medicine">View DFD diagram</a>
                            <br>
                            <br>
                            <a href="https://medicine-shop-management-system.onrender.com">View Project</a>
                        </div>
                    </div>

                    <div style="width: 10px;"></div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <section id="contact">
        <h1 class="contact-heading">Contact Me</h1>
        <hr class="contact_underLine">
        <br>
        <div style="width: fit-content; margin: auto;">
            <table>
                <tr>
                    <td>
                        <a href="https://github.com/tuhinsubhrahazra">
                            <img class="contact_btn1" src="/images/github.png" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="https://www.linkedin.com/in/tuhin-subhra-hazra-79831a1b8/">
                            <img class="contact_btn2" src="/images/linkdin_circle.png" alt="">
                        </a>
                    </td>
                    <td>
                        <a href="mailto:codertuhin094@gmail.com">
                            <img class="contact_btn3" src="/images/gmail.png" alt="">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <form action="/send-msg" method="post">

            <div class="c-input">
                <input id="name-section" name="name" type="text" placeholder="Your Name" required>
                <br>
                <br>
                <input id="email-section" name="email" type="email" placeholder="Your Email" required>
                <br>
                <br>
                <textarea id="msg-section" name="msg" id="" cols="30" rows="10" type="text" required
                    placeholder="Your Message"></textarea>
            </div>
            <br>
            <div style="width:fit-content; margin:auto;">
                <button class="c-send" type="submit">Send Message</button>
            </div>
        </form>

    </section>

    <a href="#home"><img class="up" src="/images/up.png" alt=""></a>
    
    <br>
    <br>
    <br>
    <br>
    <br>

    <p>Copyright @2022 TUHIN SUBHRA HAZRA</p>

    <script src="/js/script.js"></script>

</body>

</html>
